
@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;
 
.non{
    display: none;
}
.hove{
cursor: pointer;
}
.hove:hover + .non{
display: block;
cursor: pointer;
}
.non:hover{
    display: block;
    cursor: pointer;
}
